@import url('https://fonts.googleapis.com/css?family=Quicksand');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
html{
    scroll-behavior: smooth;
}

body{
    background: #64CCC5;
    color: #ededed;
}

section{
    padding: 0px 10%;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #176B87;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 18px;
    color:#ffffff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color:#64CCC5;
}

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content{
    color:#ffffff;
    max-width: 600px;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h2{
    font-size: 32px;
    font-weight:700;
    color:#DAFFFB;
}

.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #DAFFFB;
    border: 2px solid #DAFFFB;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover{
    color: #DAFFFB
}

.btn-box a:nth-child(2){
    background:transparent;
    color: #DAFFFB;
}

.btn-box a:nth-child(2):hover{
    color: #081b29
}


.btn-box a:nth-child(2)::before{
    background: #DAFFFB;
}


.btn-box a::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #64CCC5;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #DAFFFB;
    border-radius: 50%;
    font-size: 20px;
    color: #DAFFFB;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.home-sci a:hover{
    color: #081b29
}

.home-sci a::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #DAFFFB;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
    width: 100%;
}

.profile-pic{
    position: absolute;
    width: 350px;
    height: 350px;
    right: 500px;
}
.profile-pic img{
    position: absolute;
    display: inline-flex;
    max-width: 350px;
    max-height: 350px;
    border: 2px solid #DAFFFB;
}

/*------about------------*/
#about{
    padding: 80px 0;
    margin: 15% 0;
    color: #ffffff;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10%;
}

.about-col-1{
    flex-basis: 35%;
    position: relative;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}
.about-col-2 p{
    padding: 5% 0;
    font-size: 22px;
    margin-right: 24%;
    line-height: 50px;

}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #ffffff;
    
}

/*--------skills--------*/
#skills{
    padding: 80px 0;
}
.container{
    margin-top: 10%;
}
.skills-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.skills-list div{
    background: #176B87;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: 0.5s, transform 0.5s;
}

.skills-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.skills-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.skills-list div a{
    text-decoration: none;
    color:#ffffff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.skills-list div:hover{
    background-color: #04364A;
    transform: translateY(-10px);
}
/*-----projects-----*/

#projects{
    padding: 80px 0;
    margin: 30% 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #176B87);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}

/*contact--------*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #fff;
    margin-right: 15px;
    font-size: 25px;

}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid #ffffff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    background: #64CCC5;
    color: #DAFFFB;
    transition: 0.5s;
}

.btn:hover{
    background:#DAFFFB;
    color:#081b29;
}

.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #176B87;
    padding: 15px;
    margin: 15px, 0;
    color: #DAFFFB;
    font-size: 18px;
    border-radius: 6px;
}


.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #176B87;
    font-weight: 300;
    margin-top: 20px;
}
